* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    width: 100vw;
}

h2 {
    margin-bottom: 1%;
}

main > p {
    margin-bottom: 0.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 5px double black;
    padding: 10px;
    margin-bottom: 10px;
    height: 60px;
}

main {
    width: 95%;
    margin: auto;
}
a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
}

.campaign-info {
    display: flex;
    gap: 40px;
    margin-bottom: 0.5%;
    div {
        display: flex;
        gap: 10px;
    }
}

h2 {
    font-size: 2rem;
}
.party {
    h3 {
        font-size: 1.5rem;
    }
}
.party-info {
    display: flex;
    padding-top: 1%;
}
.character {
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    padding: 1%;
}
.character-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
        font-size: 1.4rem;
    }
    p {
        color: darkgray;
    }
}
.level {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.character-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 1%;
    margin-bottom: 1%;
    div {
        p:first-child {
            color: darkgray;
            font-size: 0.8rem;
        }
    }
}

.ability-scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
    gap: 10px;
    h4 {
        font-size: 1.4rem;
        grid-column: 1/-1;
    }

}
.score {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    p:first-child {
        display: flex;
        gap:3px;
        color: darkgray;
    }
    p:nth-child(2) {
        font-weight: bold;
    }
    p:last-child {
        font-size: 0.8rem;
        color: darkgray;
    }
}

.backstory {
    margin-top: 2%;
    h4 {
        font-size: 1.4rem;
        margin-bottom: 1%;
    }
}

.character-form {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pdf_upload {
    display: none;
}

#file-input > label {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.character-info-form, .char-ablilty-score-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    h3 {
        grid-column: 1/-1;
        width: 100%;
    }
    div {
        margin: 1%;
        display: flex;
        flex-direction: column;
        input {
            width: 80%;
        }
        span {
            color: red;
        }
    }
}

.char-ablilty-score-form {
    margin-top: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    div {
        label {
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }
}

.character-backstory-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    textarea {
        resize: none;
    }
    label {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 0.7%;
    }
}

button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
    margin-top: 5%;
    width: 90%;
    background-color: transparent;
}
button:hover {
    background-color: transparent;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid black;
}

.error {
    color: red;
}