:root {
  --main-border: saddlebrown;
  --main-dark: rgb(84, 41, 10);
  --fold-shadow: rgb(248, 221, 188);
  --paper-color: antiquewhite;
  --error-red: rgb(214, 0, 0);
}
.folded {
    position: relative;
    overflow: hidden;
}