@import url("./colors.css");
:root {
  --fold: 15px;
  --fold-border: 3px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 5px double var(--main-border);
    padding: 10px;
    margin-bottom: 2%;
    height: 60px;
    background-color: var(--paper-color);
}
body {
    background-image: url("./parchment.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#new-campaign {
    border: 2px solid var(--main-border);
    padding: 10px;
    margin-right: 20px;
    height: 100%;
}

.title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: var(--main-border);
    svg {
        height: 50px;
        width: 50px;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    #new-campaign {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        svg {
            height: 20px;
            width: 20px;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    #new-campaign:hover {
        color: white;
        background-color: var(--main-dark);
        border: var(--main-dark);
    }
    svg {
        height: 50px;
        width: 50px;
        margin: auto;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 3px solid var(--main-border);
        width: 60%;
        margin: auto;
        background-color: var(--paper-color);
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 10px;
            padding-bottom: 2%;
            span {
                color: red;
            }
            button {
                border: 2px solid var(--main-border);
                height: 30px;
                font-weight: bold;
                border-radius: 5px;
                background-color: var(--main-border);
                color: var(--paper-color)
            }
            button:hover {
                background-color: var(--main-dark);
                border: var(--main-dark);
            }
        }
    }
}
.join-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    svg {
        width: 30px;
        height: 30px;
    }
}

#selectedTagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    p {
        cursor: pointer;
        text-wrap: nowrap;
        border: 1px solid var(--main-border);
        padding: 3px;
        border-radius: 5px;
    }
}

.error {
    color: var(--error-red);
}
.pageFold {
    position: absolute;
    top: calc(-1 * var(--fold));
    right: calc(-1 * var(--fold));
    width: calc(2 * var(--fold));
    height: calc(2 * var(--fold));
    background-color: var(--fold-shadow);
    transform: rotate(0deg);
    transform-origin: 100% 0%;
    box-shadow: inset var(--fold-border) var(--fold-border) 0 saddlebrown, 0px var(--fold-border) 0 saddlebrown;

}
.folded {
    clip-path: polygon(0 0, calc(100% - var(--fold)) 0, 100% calc(var(--fold) + var(--fold-border)), 100% 100%, 0 100%);
}