@import url("./colors.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 5px double var(--main-border);
    padding: 10px;
    margin-bottom: 2%;
    height: 60px;
    background-color: var(--paper-color);
}
#new-campaign {
    border: 2px solid var(--main-border);
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    height: 100%;
}

.title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: var(--main-border);
    svg {
        height: 50px;
        width: 50px;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    #new-campaign {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 20px;
            width: 20px;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    svg {
        height: 50px;
        width: 50px;
        margin: auto;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 3px solid var(--main-border);
        border-radius: 10px;
        width: 60%;
        margin: auto;
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 10px;
            padding-bottom: 2%;
            span {
                color: red;
            }
            button {
                border: 2px solid var(--main-border);
                height: 30px;
                font-weight: bold;
                border-radius: 5px;
                background-color: transparent;
            }
            button:hover {
                background-color: transparent;
            }
        }
    }
}
.join-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    svg {
        width: 30px;
        height: 30px;
    }
}

#selectedTagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    p {
        cursor: pointer;
        text-wrap: nowrap;
        border: 1px solid var(--main-border);
        padding: 3px;
        border-radius: 5px;
    }
}

.error {
    color: red;
}