@import url("./colors.css");
:root {
  --fold: 30px;
  --fold-border: 3px;
}
body {
    background-image: url("./parchment.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Crimson Text', serif;
}
.login {
    width: 100%;
    max-width: 450px;
    padding: 60px 50px 50px;    
    box-sizing: border-box;
    margin: 10% auto;
    width: 50%;
    height: 50%;
    border: 4px solid saddlebrown;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    a {
        text-decoration: none;
        border: 3px solid saddlebrown;
        text-align: center;
        font-size: 13px;
        color:antiquewhite;
        background-color: saddlebrown;
        border-radius: 10px;
    }
    a:hover {
        background-color: rgb(84, 41, 10);
        border-color: rgb(84, 41, 10);
    }
}
.pageFold {
    position: absolute;
    top: calc(-1 * var(--fold));
    right: calc(-1 * var(--fold));
    width: calc(2 * var(--fold));
    height: calc(2 * var(--fold));
    background-color: var(--fold-shadow);
    box-shadow: inset var(--fold-border) var(--fold-border) 0 saddlebrown, 0px var(--fold-border) 0 saddlebrown;

}
.folded{
    clip-path: polygon(0 0, calc(100% - 33px) 0, 100% calc(var(--fold) + 7px), 100% 100%, 0 100%);

}
svg {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    label {
        padding: 2% 0;
    }
    button  {
        margin: auto;
        margin-top: 5%;
        background-color: saddlebrown;
        border-radius: 10px;
        height: 30px;
        width: 60%;
        border: 2px solid saddlebrown;
        cursor: pointer;
        color: antiquewhite;
    }
    button:hover {
        background-color: rgb(84, 41, 10);
        border-color: rgb(84, 41, 10);
        color: antiquewhite;
    }
}