body {
    background-image: url("./parchment.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Crimson Text', serif;
}
.login {
    position: relative;
    width: 100%;
    max-width: 450px;
    background: var(--paper-color);
    padding: 60px 50px 50px;    
    box-sizing: border-box;
    margin: 10% auto;
    width: 50%;
    height: 50%;
    border: 4px solid saddlebrown;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: antiquewhite;
    clip-path: polygon(0 0, calc(100% - 10%) 0, 100% 17%, 100% 100%, 0 100%);
}
.pageFold {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 60px;
    height: 60px;
    background-color: bisque;
    transform: rotate(0deg);
    transform-origin: 100% 0%;
    box-shadow: inset 3px 3px 0 saddlebrown, 0px 3px 0 saddlebrown;

}
.loginForm {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    label {
        padding: 2% 0;
    }
    button  {
        margin: 5% 30%;
        background-color: saddlebrown;
        border-radius: 10px;
        height: 30px;
        width: 100px;
        border: 2px solid saddlebrown;
    }
    button:hover {
        background-color: rgb(84, 41, 10);
        border-color: rgb(84, 41, 10);
        color: antiquewhite;
    }
}