@import url("./colors.css");
:root {
  --fold: 30px;
  --fold-border: 3px;
}
body {
    background-image: url("./parchment.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Crimson Text', serif;
}
.login {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 60px 50px 50px;    
    box-sizing: border-box;
    margin: 10% auto;
    width: 50%;
    height: 50%;
    border: 4px solid saddlebrown;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: antiquewhite;
    clip-path: polygon(0 0, calc(100% - var(--fold)) 0,  100% calc(var(--fold) + var(--fold-border)), 100% 100%, 0 100%);
}
.pageFold {
    position: absolute;
    top: calc(-1 * var(--fold));
    right: calc(-1 * var(--fold));
    width: 60px;
    height: 60px;
    background-color: var(--fold-shadow);
    transform: rotate(0deg);
    transform-origin: 100% 0%;
    box-shadow: inset var(--fold-border) var(--fold-border) 0 saddlebrown, 0px var(--fold-border) 0 saddlebrown;

}
.folded{
    clip-path: polygon(0 0, calc(100% - var(--fold)) 0, 100% calc(var(--fold) + var(--fold-border)), 100% 100%, 0 100%);

}
svg {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    label {
        padding: 2% 0;
    }
    button  {
        margin: 5% 30%;
        background-color: saddlebrown;
        border-radius: 10px;
        height: 30px;
        width: 100px;
        border: 2px solid saddlebrown;
    }
    button:hover {
        background-color: rgb(84, 41, 10);
        border-color: rgb(84, 41, 10);
        color: antiquewhite;
    }
}