@import url("./colors.css");
:root {
  --fold: 15px;
  --fold-border: 3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  h1,h2 {
    color: var(--main-border);
    height: auto;
  }
}

body {
  width: 100vw;
  background-image: url("./parchment.png");
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 5px double var(--main-border);
  padding: 10px;
  margin-bottom: 2%;
  height: 60px;
  background-color: var(--paper-color);
}
#new-campaign {
  border: 2px solid var(--main-border);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  height: 100%;
}
.title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--main-border);
  svg {
    height: 50px;
    width: 50px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
  }
  #new-campaign:hover {
    background-color: var(--main-border);
    color: var(--paper-color);
  }
  svg {
    height: 50px;
    width: 50px;
    margin: auto;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

nav::before,
nav::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: var(--main-border);
}

.campaignTypeSelector {
  background-color: var(--paper-color);
}

nav > div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-border);
  padding: 10px;
  border-radius: 10px;
  button {
    border: none;
    outline: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
  }
  button:hover {
    background-color: transparent;
  }
  .selected {
    background-color: var(--main-border);
    color: white;
  }
  .selected:hover {
    background-color: var(--main-dark);
  }
}

#campaigns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-top: 2%;
}
.campaign-wrapper {
  border: 2px solid var(--main-border);
  background-color: var(--paper-color);
  padding: 15px;
  width: 350px;
}
.pageFold {
    position: absolute;
    top: calc(-1 * var(--fold));
    right: calc(-1 * var(--fold));
    width: 30px;
    height: 30px;
    background-color: var(--fold-shadow);
    transform: rotate(0deg);
    transform-origin: 100% 0%;
    box-shadow: inset var(--fold-border) var(--fold-border) 0 saddlebrown, 0px var(--fold-border) 0 saddlebrown;

}
.folded{
    clip-path: polygon(0 0, calc(100% - var(--fold)) 0, 100% calc(var(--fold) + var(--fold-border)), 100% 100%, 0 100%);

}
.campaign-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .role {
    text-align: center;
    background-color: var(--main-border);
    color: white;
    padding: 4px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player {
    background-color: var(--fold-shadow);
    color: black;
  }
}
.dm-name {
  color: #5b5b5b;
  font-size: .8rem;
  width: 100%;
}
.players {
  margin-top: 10px;
  color: var(--fold-shadow);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.players svg,
.players p {
  color: var(--main-dark);
}